n8n/n8n-mesenger-notify.json
{
  "name": "n8n-mesenger-notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "messenger-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "09b7fd60-d0c3-4e48-a995-e92569ddc643",
      "name": "Webhook",
      "webhookId": "568b8bc6-28c6-4672-b5c2-e2d6a358465e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_PAGE_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.body.psid }}\" },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": { \"text\": \"{{ $json.body.message }}\" }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e7a12720-0c51-468d-8b7c-935bdadc6ceb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"sent\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "5b8f609d-74dc-4bd0-a6f2-593c6b58c067",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "858ae746-5cf4-4308-b2d8-05b4b51d34fb",
  "meta": {
    "instanceId": "80be746b211140bbf0357ea70acec6b5b779be1b7e8cb07f9c8e07afca50513d"
  },
  "nodeGroups": [],
  "id": "VJ4T8Z3p95BwJdYR",
  "tags": []
}