n8n/washify-chatbot.json
{
  "name": "washify-chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "faq-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5c95cfca-202d-4c6c-8ac3-3ebb3b62e5b6",
      "name": "Webhook",
      "webhookId": "03056515-18fa-4246-9d8f-b9a47689c4a1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemPromptTemplate": " You are the friendly assistant for Washify.\n\nAnswer ONLY using the provided FAQ context.\n\nIf the answer is not in the context, say you are not sure and suggest contacting the shop.\n\nNever invent prices, hours, or policies. Keep answers short and warm. \n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "104df504-2709-486a-860f-c79c3c33ab73",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "c35a2add-2362-4c71-bf09-499c072e4c60",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "rDi23XwpJL2JJp0f",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "b6039c67-cb31-4200-82cc-ed4d8f86560d",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "shop_id",
                "value": "HAPPY_WASH_ID"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        272,
        432
      ],
      "id": "977346c9-fb2d-4b2e-8962-2777f1d406a3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "O52LM1R2kuP56fHa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        576
      ],
      "id": "9dc532ac-c5e4-4fff-a5aa-c1ac492fe8d2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "pt4oIFeGQIGSWFmd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.response } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "52cb4cb5-cae8-4599-9e7e-6764d1ddd36e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8da00f3-afaa-4218-bcc9-d83f5e4d35d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80be746b211140bbf0357ea70acec6b5b779be1b7e8cb07f9c8e07afca50513d"
  },
  "nodeGroups": [],
  "id": "61MP8kfM7gGuMw30",
  "tags": []
}